In [1]:
import pandas as pd
import re
from shapely import geometry
import random

In [2]:
file1 = open('C:/Users/KEERTHANA/Desktop/Zinj_final.txt', 'r')
all_lines = file1.readlines()

In [3]:
df_obj = pd.DataFrame(columns = ['Zone', 'Id', 'Type', 'Lat', 'Long'])

In [4]:
k = 1
df = []
zone = ''
name = ''
lat = 0
long = 0
idd = ''
typ = ''

for line in all_lines :   
    if (line.strip() == '') :
        k = k - 1
    if(line.strip() in ['Zone_1', 'Zone_2', 'Zone_3']) :
        k = k - 1
        zone = line.strip()
    elif (k == 1) :
        idd = line.strip()
        
    elif ( k == 2) :
        typ = line.strip()
    elif ( k == 3) :
        nums = line.strip()
        points = line.strip()
        points = re.split(' ', points)
        points =[list(map(float, i.split(','))) for i in points] 
        polygon = geometry.Polygon(points)
        lat = polygon.centroid.coords
        #print(zone, idd, typ, lat[0][0], lat[0][1]) 
        clause = {'Zone' : zone, 'Id' : idd, 'Type' : typ, 'Lat' : lat[0][1], 'Long' : lat[0][0]}
        df_obj = df_obj.append(clause, ignore_index = True)
        k = 0
        
    k = k + 1

In [28]:
df_obj.to_csv(r'C:/Users/KEERTHANA/Desktop/Zinj_final.csv', index = None, header=True)

In [ ]:
df_obj.head()

KeyboardInterrupt:

     Zone    Id          Type        Lat      Long
0  Zone_1  2667  single_house  48.614921  7.737321
1  Zone_1  4053  single_house  48.633323  7.728775
2  Zone_1  3999  single_house  48.633106  7.728857
3  Zone_1  2743        garage  48.616600  7.729351
4  Zone_1  3915  single_house  48.632716  7.729757